{% extends "@Admin/admin.layout.html.twig" %}
{% block body %}
    <div class="columns twelve a-c">
        modifier une photo.
    </div>
    <div class="columns twelve a-c">
        <img height="200" width="200" src="{{ asset(photo.webPath) }}" alt="{{ photo.name }}" title="{{ photo.name }}"/>
    </div>
    <div class="columns twelve">
        {{ form_start(form, {'attr': {'class': 'form-horizontal', 'autocomplete': 'off'}}) }}
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block linkscript %}

{% endblock %}