{% extends "@Admin/admin.layout.html.twig" %}
{% block body %}
    <div class="u-full-width">
        <select id="select_filtre"><option value="0">defaut</option></select>
        <a href="{{ path('admin_photo_add') }}" class="u-pull-right">ajout.</a>
    </div>
    <table class="u-full-width">
        <tbody>
        {% if listPhoto|length == 0 %}
            <tr>
                <td class="a-c">il n'y a pas de photo</td>
            </tr>
        {% else %}
            <tr class="line-entete">
                <th>&nbsp;</th>
                <th>title</th>
                <th>serie</th>
                <th>price</th>
                <th>action</th>
            </tr>
            {% for photo in listPhoto %}
                <tr class="ui_row_filtre" ui-filtre-type="{{ photo.serie.name|replace({' ': '_'}) }}">
                    <td><img width="150" src="{{ asset(photo.webPath) }}" alt="{{ photo.name }}"
                             title="{{ photo.name }}"/></td>
                    <td>{{ photo.title }}</td>
                    <td>{{ photo.serie.name }}</td>
                    <td>{{ photo.price }} €</td>
                    <td><a href="{{ path('admin_photo_show', {'id' : photo.id}) }}">voir</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
{% block linkscript %}
    <script src="{{ asset('js/admin/script.filtre.js') }}"></script>
{% endblock %}