<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="width:600px; font-family:Arial,sans-serif;margin: 0 auto;">
    <tr>
        <td align="center" style="padding: 10px 0;"><a href="http://ihatesupreme.com/ihateadmin" target="_blank" title="i hate supreme" style="color: white; background: black; text-decoration: none; padding: 2px;">i hate supreme.</a></td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px 0;">chouette une nouvelle commande !</td>
    </tr>
    <tr align="center">
        <td>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="width:500px;">
                <tr>
                    <td style="background-color:#E1E1E1;padding: 10px;" colspan="3"><b>{{ purchase.lastname }} {{ purchase.firstname }}</b></td>
                </tr>
                {% for item in buyList %}
                    <tr>
                        <td style="border-bottom:1px solid #E1E1E1;padding: 10px 0;"><img src="http://ihatesupreme.com/uploads/img/{{ item.keyImg }}.jpeg" alt="paris1" title="paris1" width="100" style="display:block;"></td>
                        <td style="border-bottom:1px solid #E1E1E1;padding: 10px 0;">{{ item.title }}</td>
                        <td style="border-bottom:1px solid #E1E1E1;padding: 10px 0;">{{ item.price }}€</td>
                    </tr>
                {% endfor %}
                <tr style="height:30px;">
                    <td colspan="3" align="right" style="border-bottom:1px solid #E1E1E1;padding: 10px 0;">total : {{ amount }}€</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px 0;">allez voir sa commande <a href="http://ihatesupreme.com/ihateadmin/purchase" target="_blank" title="i hate admin" style="color: white; background: black; text-decoration: none; padding: 2px;">i hate admin.</a></td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px 0;">i love him.</td>
    </tr>
</table>
</body>
</html>