{% extends "@Admin/admin.layout.html.twig" %}
{% block body %}
    <div class="u-full-width">
        <select id="select_filtre"><option value="0">defaut</option></select>
    </div>
    <table cellpadding="0" cellspacing="0" style="padding: 0; margin: 0; border: 0;" class="u-full-width">
        {% if listPurchase|length == 0 %}
        <tr>
            <td class="a-c" colspan="6">Il n'y a pas encore de commande</td>
        </tr>
        {% else %}
        <thead>
            <tr class="line-entete">
                <th>nom</th>
                <th>prenom</th>
                <th>montant</th>
                <th>date commande</th>
                <th>status</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in listPurchase %}
            <tr class="ui_row_filtre" {% if purchase.status is not null %}ui-filtre-type="{{ purchase.status.state|replace({' ': '_'}) }}"{% endif %}>
                <td>{{ purchase.firstname }}</td>
                <td>{{ purchase.lastname }}</td>
                <td>{{ purchase.amount }} €</td>
                <td>{{ purchase.datePurcahse.format('d/m/Y H:i') }}</td>
                <td>{% if purchase.status is not null %}{{ purchase.status.state }}{% else %}/{% endif %}</td>
                <td><a href="{{ path('admin_purchase_show', {'id': purchase.id}) }}">voir</a></td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
{% endblock %}
{% block linkscript %}
    <script src="{{ asset('js/admin/script.filtre.js') }}"></script>
    <script src="{{ asset('js/script-panier.js') }}"></script>
{% endblock %}